<!doctype html>
<html lang="es">

<head>
    <title>Pacientes | Cuidamos tus dientes.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/venobox.css">
    <link rel="stylesheet" href="css/jarallax.css">
    <link rel="stylesheet" href="js/pickadate.js/themes/default.css">
    <link rel="stylesheet" href="js/pickadate.js/themes/default.date.css">
    <link rel="stylesheet" href="js/pickadate.js/themes/default.time.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <section id="barra-contacto" class="bg-primary text-white py-3 py-lg-1 text-center">
        <div class="container">
            <div class="row justify-content-sm-between align-items-sm-center">
                <div class="col-12 col-sm-auto">
                    <i class="fas fa-map-marker-alt mr-1"></i><span>San Alfonso. San Bernardo, n° 389.</span>
                </div>

                <div class="col-12 col-sm-auto">
                    <ul class="redes-sociales list-unstyled d-inline-flex mb-0">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="detalles-encabezado" class="d-none d-md-block py-3">
        <div class="container">
            <div class="row justify-content-md-between align-items-md-center">
                <div class="col-auto">
                    <a href="#" class="logo">
                        <img src="images/logo.svg" alt="Logo del sitio" width="200" class="img-fluid">
                    </a>
                </div>

                <div class="col-auto ml-md-auto">
                    <i class="fas fa-phone fa-flip-horizontal fa-2x align-middle text-primary"></i>
                    <span class="font-weight-bold h5 ml-2">+569 36324409</span>
                </div>
                <div class="col-auto">
                    <i class="fas fa-envelope fa-2x align-middle text-primary"></i>
                    <span class="font-weight-bold h5 ml-2">atención@lindasonrisa.com</span>
                </div>
            </div>
        </div>
    </section>
    <nav id="menu-navegacion" class="navbar navbar-dark bg-secondary navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal"
                aria-expanded="false" aria-label="Botón Menú principal">
                <span class="boton-menu"></span>
            </button>
            <a href="index.html" class="btn btn-primary order-md-1">Cerrar Sesión</a>

            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav mt-3 mt-md-0">
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#barra-contacto"class="nav-link active">Inicio</a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#reservar" class="nav-link">Reservar Hora</a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#nuestra-app" class="nav-link">Nuestra APP</a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-0"><a href="#contacto" class="nav-link">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sección #animacion -->
    <section id="animacion" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex justify-content-center align-items-center"
                style="background-image:url('images/persona.jpg')">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm-11">
                            <h2 class="display-4 font-weight-bold">
                                Vuele a sonreir junto a nosotros.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex justify-content-center align-items-center"
                style="background-image:url('images/dent.jpg')">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm-11">
                            <h2 class="display-4 font-weight-bold">
                               Años de expericencia <br>
                               Profesionales 100% capacitados.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide d-flex justify-content-center align-items-center"
                style="background-image:url('images/pasta.jpg')">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm-11">
                            <h2 class="display-4 font-weight-bold">
                                ¡Cepilla tus dientes 2 veces al dia los 7 días de la Semana!
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- Botones de paginación -->
        <div class="swiper-pagination"></div>
    </section>

    <section id="reservar">


        <div class="container">
            <div class="row py-5">
                <div class="col-12  pt-4 pt-lg-0">
                    <h2 class="font-weight-bold text-center mb-5">Separa una cita:</h2>
                    <form action="#" id="mi-formulario">

                       
                    </form>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </section>

    <section id="nuestra-app" class="bg-secondary py-5 text-white text-center text-md-left jarallax" data-jarallax
        data-speed="0.6">
        <picture class="jarallax-img">
            <source media="(min-width:1200px)" srcset="images/fondo-descargar-app-xl.jpg">
            <source media="(min-width:768px)" srcset="images/fondo-descargar-app-md.jpg">
            <img srcset="images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
        </picture>

        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-12 col-md-6">
                    <h2 class="h1 font-weight-bold">DESCARGA NUESTRA APP Y ACCEDE A DESCUENTOS EXCLUSIVOS!</h2>
                    <h6 class="text-white-50">SOMOS PARTE DE TÍ</h6>
                    <p>Hemos creado una aplicación exclusiva para nuestros clientes. Desde donde podrás acceder a
                        sorteos y descuentos especiales.</p>
                    <a href="#" class="btn btn-primary mt-3">Conócenos más</a>

                </div>
            </div>
        </div>
    </section>

    <!-- Sección #contacto -->
    <section id="contacto">
        <header class="py-5 bg-primary text-white text-center position-relative">
            <h2 class="display-4 font-weight-bold">CONTÁCTANOS</h2>
            <h6 class="text-white-50">ESTAMOS LISTOS PARA ATENDERTE</h6>
            <div class="detalle-rectangulo"></div>
        </header>

        <div class="container">
            <div class="row py-5">

                <div class="col-12 col-lg-6">
                    <h2 class="font-weight-bold text-center mb-2">Detalles de contacto:</h2>

                    <ul class="list-unstyled">

                        <li class="d-flex border-bottom py-4">
                            <i class="fas fa-globe fa-3x text-primary mr-4 fa-fw"></i>
                            <div>
                                <h5 class="font-weight-bold">Dirección:</h5>
                                <p class="mb-0">San Alfonso. San Bernardo, n° 389.</p>
                            </div>
                        </li>

                        <li class="d-flex border-bottom py-4">
                            <i class="fas fa-mobile-alt fa-3x text-warning mr-4 fa-fw"></i>
                            <div>
                                <h5 class="font-weight-bold">Teléfonos:</h5>
                                <p class="mb-0">(+569) 3632 4409 , (+569) 6415 3655</p>
                            </div>
                        </li>
                        <li class="d-flex border-bottom py-4">
                            <i class="fas fa-envelope-open fa-3x text-danger mr-4 fa-fw"></i>
                            <div>
                                <h5 class="font-weight-bold">Email:</h5>
                                <p class="mb-0">atención@lindasonrisa.com</p>
                            </div>
                        </li>
                        
                    </ul>

                </div>

                <div class="col-12 col-lg-6 pt-4 pt-lg-0">
                    <h2 class="font-weight-bold text-center mb-5">Consultas</h2>
                    <form action="#" id="mi-formulario">

                        <!-- Campo #nombre -->
                        <div class="form-group form-row">
                            <label for="nombre" class="col-form-label col-12 col-md-3">Nombre:</label>
                            <div class="col-12 col-md-9">
                                <input type="text" class="form-control" name="nombre" id="nombre"
                                    placeholder="Ingrese su nombre" data-parsley-required
                                    data-parsley-required-message="Este campo no puede estar vacio.">
                            </div>
                        </div>

                        <!-- Campo #email -->
                        <div class="form-group form-row">
                            <label for="email" class="col-form-label col-12 col-md-3">Email:</label>
                            <div class="col-12 col-md-9">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingrese su email" data-parsley-required data-parsley-type="email"
                                    data-parsley-required-message="Este campo no puede estar vacio."
                                    data-parsley-type-message="Ingrese un email en un formato válido.">
                            </div>
                        </div>

                        <!-- Campo #celular -->
                        <div class="form-group form-row">
                            <label for="celular" class="col-form-label col-12 col-md-3">Celular:</label>
                            <div class="col-12 col-md-9">
                                <input type="text" class="form-control" name="celular" id="celular"
                                    placeholder="Ingrese su celular" data-parsley-required data-parsley-length="[5, 20]"
                                    data-parsley-required-message="Este campo no puede estar vacio."
                                    data-parsley-length-message="El número telefónico debe tener entre 5 a 20 letras.">
                            </div>
                        </div>

                        <!-- Campo #mensaje -->
                        <div class="form-group form-row">
                            <label for="mensage" class="col-form-label col-12 col-md-3">Mensage:</label>
                            <div class="col-12 col-md-9">
                                <textarea name="mensage" id="mensage" rows="4" class="form-control"
                                    placeholder="Ingrese su mensage." data-parsley-required
                                    data-parsley-required-message="Este campo no puede estar vacio."></textarea>
                            </div>
                        </div>
                        <!-- Campo Enviar -->
                        <div class="form-group form-row">
                            <div class="col-12 col-md-9 offset-md-3">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer id="pie-de-pagina" class="bg-dark  text-light text-truncate">
        <div class="container">
            <div class="row align-items-center">

                <div class="columna-inclinada col-12 col-md-6 col-xl-5 py-2">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-white font-weight-bold h1">Soporte +569 50428639</h2>
                        </div>

                        <div class="col-auto text-black-50 ">
                            <i class="fas fa-briefcase-medical fa-4x"></i>
                        </div>

                        <div class="col-auto  text-black-50 pl-0">
                            <h3></h3>
                            <p>Servicio de ayuda disponible 24h/7.</p>

                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-6 col-xl-7 py-2 text-center text-md-right small">
                    <ul class="enlaces-secundario list-unstyled d-inline-flex text-uppercase ">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Políticas de Privacidad</a></li>
                    </ul>
                    <p>©2019. Todos los derechos reservados.</p>
                </div>

            </div>

        </div>

    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="js/jarallax.min.js"></script>
    <script src="js/picturefill.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/pickadate.js/picker.js"></script>
    <script src="js/pickadate.js/picker.date.js"></script>
    <script src="js/pickadate.js/picker.time.js"></script>
    <script src="js/parsley.min.js"></script>
    <script src="js/parsley.es.js"></script>
    <script src="js/jquery.stickit.min.js"></script>
    <script src="js/jquery.malihu.PageScroll2id.min.js"></script>
    <script src="js/css_browser_selector.js"></script>
    <script src="js/mis-scripts.js"></script>
</body>

</html>
